.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(14, 11, 160);
    height: 56px;
    z-index: 10;
    box-shadow: 0 2px 4px 0 rgba( 0, 0, 0, .8 );
}

.toolbar__navigation {
    display: flex;
    height: 100%;       /* so vertical center tracks the toolbar height */
    align-items: center;
    padding: 0 1rem;
    justify-content: flex-start;
}

.toolbar__logo {
    margin-left: 1rem;
}

.toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.toolbar__navigation-items {
    margin-left: auto;
    font-size: 1.2rem;
}

.toolbar__navigation-items ul {
    list-style: none;   /* remove bullets */
    margin: 0;
    padding: 0;
    display: flex;      /* line up list items horizontally */
}

.toolbar__navigation-items li {
    padding: 0 0.5rem;
}

.toolbar__navigation-items a {
    color: white;
    text-decoration: none;
}

.toolbar__logo a:hover,
.toolbar__logo a:active,
.toolbar__navigation-items a:hover,
.toolbar__navigation-items a:active {
    color: yellow;
}

@media (max-width: 750px) {
    .toolbar__navigation-items {
        display: none;
    }
    .toolbar__logo {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 751px) {
    .toolbar__toggle-button {
         display: none;
    }
    .toolbar__logo {
        margin-left: 0;
    }
}