.side-drawer {
    height: 100%;
    background: rgb(14, 11, 160);
    box-shadow: 3px 0 10px rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;   /* above the backdrop */
    transform: translateX(-120%);
    transition: transform 0.3s ease-in-out;
}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline-start: 20px;   
    padding-inline-end: 20px;   
}

/* .side-drawer li {
    margin: 0.5rem 0;
} */

.side-drawer a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
    /* font-weight: bold; */
    color: yellow;
}

@media (min-width: 721px) {
    .side-drawer {
        display: none;
    }
}